<div class="landing-page-container">
  <form [formGroup]="landingPageForm" class="form-container">
    <div>
      <div class="locations-container">
        <div class="location-type-container">
          <span class="text-body text-white">Choose location type</span>
          <select formControlName="locationType" class="input-boxes">
            <option
              *ngFor="let location of LocationType | keyvalue"
              [value]="location.value"
            >
              {{ location.key }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="location-input-container">
      <span class="text-body text-white">Enter your location</span>

      <div
        class="location-inputs"
        *ngIf="locationType === LocationType['City & State']"
      >
        <div class="city-container">
          <span class="text-body text-white">City</span>
          <input
            placeholder="Ex. Tampa"
            formControlName="city"
            class="input-boxes"
          />
        </div>

        <div class="state-container">
          <span class="text-body text-white">State</span>
          <select formControlName="state" class="input-boxes">
            <option
              value="null"
              *ngIf="landingPageForm.get('state')?.value === null"
            >
              Make selection
            </option>
            <option
              *ngFor="let state of statesList | keyvalue"
              [value]="state.value"
            >
              {{ state.key }}
            </option>
          </select>
        </div>
      </div>

      <div
        class="zip-code-inputs"
        *ngIf="locationType === LocationType['Zip Code']"
      >
        <div class="city-container">
          <span class="text-body">Zip Code</span>
          <input
            class="input-boxes"
            maxlength="5"
            placeholder="Ex. 12345"
            formControlName="zipCode"
          />
        </div>
      </div>
    </div>
    <div class="button-container">
      <button
        mat-button
        [disabled]="checkValid()"
        (click)="getLatAndLong()"
        class="button"
      >
        Get Forecast
      </button>
    </div>
  </form>
</div>
